table, tr, td
{
	border: 1px solid white;
	width: 10%;
	margin: auto;
}

#character_list
{
	border: 1px solid white;
	width: 70%;
}

.character_img
{
	width: 100%;
}

.cname
{
	font-size: 3vw;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.ctext
{
	font-size: 2.5vh;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.gif
{
	width: 100%;
}

@media (max-width: 1000px)
{
	#character_list
	{
		width: 80%;
	}
	
	.cname
	{
		font-size: 3vw;
	}
	
	.ctext
	{
		font-size: 2vh;
	}
}

@media (max-width: 700px)
{
	#character_list
	{
		width: 90%;
	}
	
	.cname
	{
		font-size: 3vw;
	}
	
	.ctext
	{
		font-size: 1.5vh;
	}
}